<h1>Ошибка</h1>
<h3>Произошла ошибка. <a href="/">Перейти на главную</a></h3>

<? if (isset($this->display_exceptions) && $this->display_exceptions) : ?>
<pre>
    <? var_dump($this->exception) ?>
</pre>
<? endif; ?>