<?=$this->flashMessenger()->render(\Zend\Mvc\Controller\Plugin\FlashMessenger::NAMESPACE_SUCCESS)?>

<h1>Фотографии</h1>

<?=$this->ShowPerPage()?>

<?php foreach ($this->paginator as $row) : ?>
    <div class="photo">
        <img src="/upload/m_<?=$row->filename?>" alt="<?=$row->title?>" /><br />
        <?=$row->title?><br />
        <?=$row->firstname?>&nbsp;<?=$row->lastname?><br />
        <a href="#" data-url="<?=$this->url('vote')?>" data-vote="true" data-photo-id="<?=$row->id?>">Голосовать</a><br />
        Количество голосов: <span class="votes"><?=$row->votes?></span>
    </div>
<?php endforeach; ?>
<div class="clear"></div>

<?=$this->paginationControl($this->paginator, 'Sliding', 'helper/pagination_control', array(
    'params' => array('per_page' => $this->perPage)
))?>