<? $query = $this->params ?>

<?php if ($this->pageCount): ?>
<div class="paginationControl">
<!-- Previous page link -->
<?php if (isset($this->previous)): ?>
  <a href="<?php echo $this->url($this->route, array('page' => $this->previous), array('query' => $query)); ?>">
    < Назад
  </a> |
<?php else: ?>
  <span class="disabled">< Назад</span> |
<?php endif; ?>

<!-- Numbered page links -->
<?php foreach ($this->pagesInRange as $page): ?>
  <?php if ($page != $this->current): ?>
    <a href="<?php echo $this->url($this->route, array('page' => $page), array('query' => $query)); ?>">
        <?php echo $page; ?>
    </a> |
  <?php else: ?>
    <?php echo $page; ?> |
  <?php endif; ?>
<?php endforeach; ?>

<!-- Next page link -->
<?php if (isset($this->next)): ?>
  <a href="<?php echo $this->url($this->route, array('page' => $this->next), array('query' => $query)); ?>">
    Вперед >
  </a>
<?php else: ?>
  <span class="disabled">Вперед ></span>
<?php endif; ?>
</div>
<?php endif; ?>