<form method="GET">
    <p>Показывать по:
        <select name="per_page">
        <? foreach ($this->values as $value) : ?>
            <option value="<?=$value?>" <?=($value == $this->current) ? 'selected="selected"' : ''?>>
                <?=$value?>
            </option>
        <? endforeach; ?>
        </select>
        <input type="submit" value="Да" />
    </p>
</form>